<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>홈</title>
</head>
<body>



<!-- 로그인 여부 체크 -->
<div sec:authorize="isAuthenticated()">
    <p>현재 로그인한 사용자:
        <strong sec:authentication="principal.member.nickname">사용자</strong>
        (<span sec:authentication="principal.member.loginId">아이디</span>)
    </p>
    <form th:action="@{/member/logout}" method="post">
        <button type="submit">로그아웃</button>
    </form>
</div>
<a href="/routine/goToRoutine">루틴 페이지로 가기</a>
<a href="/routine/myRoutines">루틴 전체보기 </a>
<a th:href="@{|/myPage/${memberId}|}">마이페이지</a>
<a href="http://localhost:3000/boards">React 게시판으로 이동</a>
<a href="http://localhost:3000/circles">React 서클로 이동</a>
<a href="http://localhost:3000/routine">React 루틴으로 이동</a>


<!-- 비로그인 사용자 -->
<div sec:authorize="isAnonymous()">
    <p>로그인하지 않았습니다. <a th:href="@{/member/login}">로그인</a> 또는 <a th:href="@{/member/register}">회원가입</a></p>
</div>

</body>
</html>
